.section-text {
  margin-top: 50px;
  margin-bottom: 100px;
  .image-wrapper {
    overflow: hidden;
    max-height: 500px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content-wrapper {
    color: $primary-bg-color;
    height: 100%;
  display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    p {
      font-size: 21px;
    }
  }

  .second-image-col {
    gap: 5px;
  }
}