.section-text {
  margin-top: 50px;
  margin-bottom: 50px;
  .image-wrapper {
    overflow: hidden;
    max-height: 500px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content-wrapper {
    color: $primary-bg-color;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    p {
      font-size: 21px;
    }
    h2 {
      color: $primary-bg-color;
      font-size: 38px;
    }
  }

  .second-image-col {
    gap: 5px;
  }

  .cta-wrapper {
    a {
      width: 40%;
      padding: 15px;
      background: $primary-bg-color !important;
      color: wheat;
      display: flex;
      align-content: center;
      justify-content: center;
      font-size: 28px;
    }
  }
}
