.section-birthdays {
  .um-birthdays-list {
    background: #702017;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    p {
      color: white;
    }
    li {
      text-decoration: none;
      a,
      span {
        color: white;
      }
    }
  }
}
