.section-birthdays {
  .um-birthdays-list {
    background: #702017;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    ul {
      li {
        color: white;
      }
    }
  }
}
